/* common style */
body{
    font-family: 'Poppins', sans-serif;
    background-color:#EFEFEE;
    margin-bottom: -11px;   
    margin-top: -1px;
    margin-left: -1px;
   
}
/* Banner background blue color style */
 header{
    width: 1440px;
    height: 677px;
    background: #2D25A0;   
 }
/* banner style */
.Heading-Slogan-Image{
    display: flex;
    justify-content: center;
   
}
/* banner slogan style */
.Copa-America{
    
    width: 485px;
    height: 230px;

    color: white;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    
    display: block;
    padding-top: 155px ;
    padding-left: 156px;
}
/* watch live button style */
.Live-Button{
    padding-top:27px ;
    padding-left: 156px;
}
.Watch-Live-Button{
    text-decoration: none;
    background-image: linear-gradient(rgb(51, 99, 255),rgb(0, 225, 255));
    color: ghostwhite;
    width: 168px;
    height: 44px;
    font-weight: 700;
    padding: 10px 28px;
    border-radius: 5px;
}
 /* watch live button hover style */
.Watch-Live-Button:hover{
    background-image: linear-gradient(rgba(247, 97, 59, 0.911),rgb(255, 251, 1));
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 10px rgba(243, 72, 4, 0.842);
}
/* wacht live button icon style */
.fa-arrow-right{
 font-size: 15px;
 padding-left:5px;
}
/* HeadingColor change hover style */
.Heading-hover:hover{
 color: red;
}

/* banner image style */
.Copa-America-Player img{
    height:438px;
    width: 556px;
    padding-top: 142px ;
    padding-right: 100px;
    padding-bottom: 97px;
}
/* Football player image hover style */
.Copa-America-Player:hover{
    transform: scale(1.1) rotate(10deg);
    transition: transform 1s ease-in-out;

}
/* All players information with images style */
.players{
  display: flex;
  padding-left: 180px;
  padding-top: 70px;
}
.top-players{
    display: grid;
    grid-template-columns: repeat(3,330px);
    row-gap: 27px;
    column-gap:30px;
    
}

.player-information{
    display: relative;
    width: 330px;
    height: 474px;
    left: 180px;
    top: 747px;
    background: #FFFFFF;
    border-radius: 10px;
    text-align:center;
    margin: 10px 0px;

}
/* player information paragraph style */
  
.player-information p{
    text-align: center;
margin-left: 15px;
margin-right: 15px;  
}
/* player information box style */
.player-information img{
    padding-top: 10%;
    padding-left:5%;
    height: 50%;
    width: 80%;
    margin-left: 5%;
    margin-right: 3%;  
}
/* player names style */
.player-information h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    align-self: stretch;
    margin-bottom:-5px;
}

/* Latest News with image Style  */

.News{
    display: flex;
    padding-top: 165px;
    padding-bottom: 158px;
    padding-left: 182px;

 
}
.News img{
  
    width: 567px;
    height: 427px;
    padding-left: 0px;
    /* padding-top: 2889px; */ 
}

.News-details{
    
    width: 466px;
    height: 309px;
    padding-top: 59px;
    padding-right:69px;
   
}

.News-heading{
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
}
.News-Messi{
    padding-bottom: 25px ;
}
/* See News button style */
.News-Button{
    text-decoration: none;
    background-image: linear-gradient(forestgreen,lime);
    color: ghostwhite;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 10px;
}
/* news icon style */
.fa-newspaper{
    font-size: 15px;
    padding-left:5px;
}
/* News button hover style */
.News-Button:hover{
        background-image: linear-gradient(rgba(255, 51, 0, 0.911),rgb(255, 166, 1));   
        color: rgba(255, 255, 255, 1);
        box-shadow: 0 5px 10px rgba(208, 255, 0, 0.609);
        
}
.Messi-Image-Paragraph{
    position: absolute;
    width: 567px;
    height: 427px;
   
    display: none;

}
.Messi-Image-Paragraph h1{
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}
.Messi-Image-Paragraph p{
    
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}
.Latest-News-Color:hover{
    color: orangered;
    text-shadow: 0 5px 10px rgba(238, 255, 0, 0.815);
}

.News-Image-hover{
    position: relative;
    overflow: hidden;
    
    }
.News-Image-hover:hover .Messi-Image-Paragraph{
        display: block;
        background-color: rgba(0, 0, 0, 0.651);
        color:white;
    }  

/* footer football and logo style */
.footer-football-name{
    display: flex;
    justify-content: center;
}
/* fire football logo style */
.fire-football{
    width: 160px;
    height: 140px;
    transform: rotate(270deg);
}
/* footer football letters style */
.football-footer{
    font-family: 'Niconne', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 72px;
    color: rgb(0, 0, 126);
    padding-bottom: 20px;
    padding-top: 65px;
    padding-left: 30px;
    letter-spacing: 2.01613px;
}
/* footer icon style */

.footer-icon{
    display: flex;
    color: rgba(34, 23, 59, 0.712);
    margin-top:10px;
    margin-left: 600px;
    
}

.fa-instagram-square{
    font-size: 30px;
    margin-right:10px;
    
}
.fa-facebook-square{
    font-size: 30px;
    margin-right:10px;
}
.fa-twitter-square{
    font-size: 30px;
    margin-right:10px;
}
.fa-youtube-square{
    font-size: 30px;
    margin-right:10px;
}
/* copyright text style */
.cp-text{   
    color: rgba(0,0,0,.7); text-shadow: 0 1px rgba(255, 255, 255, 0.1);
    padding-left: 80px;
    padding-bottom:5px ;
    text-align: center;   
}
/* mobile media querry style */
@media only screen and (max-width:688px){
   
    header{
     width: 200%;
     height: 100%;
    
    }
    .Heading-Slogan-Image{
        width: 100%;
        flex-direction: column;
        padding-left:100px;
        
    }
    .top-players{
        grid-template-columns: repeat(1,330px);
        flex-direction: column;
        width: 100%;
    }  
    .player-information{
        width: 100%;
        flex-direction: column;
        margin: 0px;
    }
    .All-news{
    width:100%;  
    }
    .News{
        flex-direction: column;   
        width: 100%;
     }
    .News img{
        padding-top:50px ;
        width:100%;
        height: 100%;
           }
    .Messi-Image-Paragraph{
        width:100%;
       
    }       
    .footer-icon{

        padding-right: 500px;
        margin-left:300px;
    }
    .footer-football-name{
       padding-left: 250px;
    }
    footer{
       width:100%;
    }
    .cp-text{
        width: 100%;
        padding-left: 200px;

   }
}
